<div class="container">

    <div class="content">
        <h2 class="titulo-painel title">Todos professores cadastrados</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Detalhes</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of professores">
                    <th scope="row"></th>
                    <td><a [routerLink]="['detalhe-professor/'+p.id]"> {{p.nome}}</a></td>
                    <td>{{p.email}}</td>
                    <td><a [routerLink]="['detalhe-professor',p.id]" href="#" class="btn btn-primary">Ver detalhes</a>
                    </td>
                    <td *ngIf="usuario.tipo===1 && usuario.id!==p.id"><button class="btn btn-outline-danger"(click)="excluirProfessor(p.id)">Excluir</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>